@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_mixins";
@import "_variables";

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}

// ===================================================================
* {
  outline: none;

  &:focus, &:active {
    outline: none;
  }
}

body {
  overflow-x: hidden;
  letter-spacing: -0.022em;
  min-height: 100vh;
}

// ===================================================================
@import "_text";
@import "_ui";